{% load staticfiles %}
<html>
<head>
    <title>List Of Movies</title>
    <link rel="stylesheet" href="{% static 'css/list_movie.css' %}">

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #ffcb34">
<center><h3>Movies Details.....</h3></center>
<center>
    <table border="2">
    <thead>
        <tr>
            <th>Movie Name</th>
            <th>Hero Name</th>
            <th>Heroin Name</th>
            <th>Director Name</th>
            <th>Rating</th>
            <th>Release Date</th>
            <th>Budget</th>
        </tr>
    </thead>
        <tbody>
        <td>SSSS</td>
        <td>prabhas</td>
        <td>sradhha</td>
        <td>sujith/td>
        <td>9</td>
        <td>15-7-2019</td>
        <td>3000000</td>
        </tbody>
    </table>
</center>
</body>
</html>